.main {
  position: relative;
  min-height: calc(100vh - 3rem);
  padding-bottom: 3rem;
}

.App header {
  text-align: right;
  position: relative;
  z-index: 99;
}

.App .link {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin: 1rem;
}

.App #home {
  background-image: url(./images/home.png);
}

.App #home:hover {
  background-image: url(./images/home-hover.png);
}

.App #help {
  background-image: url(./images/help.png);
}

.App #help:hover {
  background-image: url(./images/help-hover.png);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
}

footer a {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
}

@media screen and (max-width: 640px) {
  footer {
    position: static;
    padding: 0.5rem;
    text-align: center;
  }
}
