.App header {
  text-align: right;
}

.App .link {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin: 1rem;
}

.App #home {
  background-image: url(./images/home.png);
}

.App #home:hover {
  background-image: url(./images/home-hover.png);
}

.App #help {
  background-image: url(./images/help.png);
}

.App #help:hover {
  background-image: url(./images/help-hover.png);
}
