.Home {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}

.Home .title {
  font-size: 15rem;
  margin: 0;
  font-weight: 100;
}

.Home .subheading {
  font-weight: 100;
  margin: 0;
}

.Home header {
  text-align: right;
  margin-top: 1rem;
}

.container {
  display: grid;
  height: 50vh;
  width: calc(100vw - 1rem);
  grid-template-columns: 24% 24% 16% 16% 16%;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "large-square large-square medium-rectangle medium-square medium-square"
    "large-square large-square medium-rectangle-2 medium-square medium-square"
    "large-square large-square large-rectangle large-rectangle small-square";

  margin-left: 1rem;
}

.large-square {
  grid-area: large-square;
}

.medium-rectangle {
  grid-area: medium-rectangle;
}

.medium-rectangle-2 {
  grid-area: medium-rectangle-2;
}

.medium-square {
  grid-area: medium-square;
}

.large-rectangle {
  grid-area: large-rectangle;
}

.small-square {
  grid-area: small-square;
}

.Home .recipe-image {
  border-radius: 15px;
}

.Home .recipe-image:hover {
  opacity: 0.9;
}

@media screen and (max-width: 640px) {
  .Home .title {
    font-size: 6rem;
    text-align: center;
    line-height: 1;
    width: 100%;
  }

  .Home .subheading {
    margin: 0.5rem 0;
  }

  .container {
    width: calc(100vw - 3rem);
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, minmax(75px, 25vh));
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas:
      "large-square medium-rectangle"
      "large-square medium-rectangle-2"
      "medium-square large-rectangle"
      "small-square large-rectangle";

    margin: 1rem;
  }
}
