.Home {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}

.Home .title {
  font-size: 15rem;
  margin: 0;
  font-weight: 100;
}

.Home .subheading {
  font-weight: 100;
  margin: 0;
}

.Home header {
  text-align: right;
  margin-top: 1rem;
}

.container {
  display: grid;
  height: 50vh;
  width: calc(100vw - 1rem);
  grid-template-columns: 24% 24% 16% 16% 16%;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "large-square large-square medium-rectangle medium-square medium-square"
    "large-square large-square medium-rectangle-2 medium-square medium-square"
    "large-square large-square large-rectangle large-rectangle small-square";

  margin-left: 1rem;
}

.large-square {
  grid-area: large-square;
}

.medium-rectangle {
  grid-area: medium-rectangle;
}

.medium-rectangle-2 {
  grid-area: medium-rectangle-2;
}

.medium-square {
  grid-area: medium-square;
}

.large-rectangle {
  grid-area: large-rectangle;
}

.small-square {
  grid-area: small-square;
}

.Home .recipe-image {
  border-radius: 15px;
}

.Home .recipe-image:hover {
  opacity: 0.9;
}
