.HowItWorks {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
}

.HowItWorks .title {
  font-size: 15rem;
  margin: 0;
  font-weight: 100;
}

.HowItWorks p {
  padding: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 1367px) and (min-width: 641px) {
  .HowItWorks .title {
    font-size: 10rem;
  }

  .HowItWorks p {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .HowItWorks .title {
    font-size: 6rem;
  }

  .HowItWorks p {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
