.Recipe {
  font-family: "PT Sans Narrow", sans-serif;
}

.Recipe h1 {
  display: inline-block;
  font-size: 15rem;
  margin: 0;
  font-weight: 100;
}

.Recipe img {
  display: inline-block;
  border-radius: 15px;
  margin-left: 4rem;
}

.Recipe .flex-container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100vw;
}

.Recipe .select-box {
  width: 10vw;
}

.Recipe h2 {
  font-size: 5rem;
  margin: 0;
  font-weight: 100;
}
