.Recipe {
  font-family: "PT Sans Narrow", sans-serif;
}

.Recipe h1 {
  display: inline-block;
  font-size: 15rem;
  line-height: 12rem;
  margin: 0 0 0 35vw;
  font-weight: 100;
}

.Recipe img {
  position: absolute;
  width: 30vw;
  height: 80vh;
  border-radius: 15px;
  margin-left: 2rem;
}

.Recipe .flex-container {
  display: flex;
  margin-top: 3rem;
  margin-left: 35vw;
  justify-content: space-between;
  width: 48vw;
}

.Recipe .food-component {
  padding-right: 5vw;
}

.Recipe h3 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}

.Recipe .select-box {
  width: 12rem;
}

.Recipe h2 {
  font-size: 5rem;
  margin: 0;
  font-weight: 100;
}

.Recipe .ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 640px) {
  .Recipe img {
    position: static;
    margin: 0 1vw;
    width: 98vw;
    height: 10rem;
    object-fit: cover;
  }

  .Recipe h1 {
    margin: 0.5rem 0;
    font-size: 6rem;
    text-align: center;
    line-height: 1;
    width: 100%;
  }

  .Recipe h2 {
    font-size: 3.5rem;
    text-align: center;
    margin: 1.5rem 0 1rem 0;
  }

  .Recipe .flex-container {
    flex-direction: column;
    margin: 0 1vw;
    width: 98vw;
  }

  .Recipe .food-component {
    margin: 0.5rem auto;
  }

  .Recipe .select-box {
    width: 80vw;
  }

  .Recipe h3 {
    font-size: 1.5rem;
  }

  .Recipe .ingredient {
    display: flex;
    align-items: center;
    margin: 0.2rem;
  }

  .Recipe .ingredient label {
    font-size: 1.1rem;
  }

  .Recipe .flex-container input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
  }

  .Recipe ol {
    margin-right: 1rem;
  }
}
